@import url('./static/css/reset.css');

:root {
  /* color */
  --nav-background : #fff8e1;
  --black-color : black;
  --white-color : white;

  /* padding */
  --padding-small : 10px;
  --padding-medium : 30px;
  --padding-large : 50px;

  /* margin */
  --margin-small : 10px;
  --margin-medium : 30px;
  --margin-large : 50px;

  /* font size */
  --font-small : 10px;
  --font-content : 20px;
  --font-medium : 30px;
  --font-large : 50px;

  /* border */
  --board-bottom : 1px solid grey;
}

a, li {
  text-decoration: none;
  color: var(--black-color);
  transition: all 0.1s linear;
  cursor: pointer;
  margin-right: var(--margin-medium);
}

a:hover,li:hover {
  transform: scale(1.1);
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--nav-background);
  font-weight: 600;
}

button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* navbar */
.navbar {
  padding : var(--padding-medium);
  background-color: var(--nav-background);
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar > a {
  font-size: var(--font-medium);
  margin-right: var(--margin-large);
}

.navbar ul {
  display: flex;
}

/* main page */
.main-page > h1 {
  padding: var(--padding-medium);
  font-size: var(--font-large);
}

/* freeboard page */
.freeboard-page {
  padding: var(--padding-medium);
  border-bottom: var(--board-bottom);
}

.freeboard-page > h1 {
  font-size: var(--font-medium);
  margin-bottom: var(--margin-medium);
}

.freeboard-page p {
  font-size: var(--font-content);  
}

.freeboard-page h3 {
  margin-top: var(--margin-medium);
}

.freeboard-page button {
  padding: var(--padding-small) calc(var(--padding-small) * 2);
  margin-top: var(--margin-medium);
  margin-right: var(--margin-medium);
}

/* Writing page */
.write-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

.write-form > input {
  width: 50%;
  padding: var(--padding-small);
  margin-bottom: var(--margin-small);
  border-radius: var(--margin-small);
}

.write-form > div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.write-form > div > button {
  padding: var(--padding-small);
  text-transform: uppercase;
}